html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(90deg, rgba(29,36,63,1) 0%, rgba(57,70,115,1) 48%, rgba(35,46,79,1) 96%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  /* Scroll Bar*/
  ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
  }
  ::-webkit-scrollbar-track {
    background: #1c233e;
  }
  ::-webkit-scrollbar-thumb {
    background: #2d375a;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #2d375a;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mapboxgl-popup-close-button {
  color: #ffffff;
}

.mapboxgl-popup-content {
  border: 2px solid #2db1e1;
  background: #2a3f73 !important;
  color: #ffffff;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-tip {
  border-top-color: #2db1e1 !important;
}

.mic-position {
  height: 220px; 
  width: 250px; 
  position: relative; 
  cursor: pointer; 
  overflow-y: hidden
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ok */
.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}